.about-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 140px);
  color: black;
  margin: auto;
  padding: 0;
}

.about-project__header {
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 110px auto 61px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 23px;
  border-bottom: 1px solid rgb(0 0 0 / 70%);
}

.about-project__titles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  color: black;
  margin: auto;
  padding: 0;
}

.about-project__title {
  width: 50%;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: auto;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.about-project__subtitles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  color: black;
  margin: 26px auto 110px;
  padding: 0;
}

.about-project__subtitle {
  width: 50%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: auto 40px auto 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

.about-project__visualizations {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  padding: 0;
}

.about-project__visualization {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: auto;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.about-project__visualization_mod-1 {
  width: 20%;
  background-color: rgba(0, 0, 0, 1);
  min-height: 36px;
  color: rgba(255, 255, 255, 1);
}

.about-project__visualization_mod-2 {
  width: 80%;
  background-color: rgba(242, 242, 242, 1);
  min-height: 36px;
  color: rgba(0, 0, 0, 1);
}

.about-project__descriptions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: 14px auto 110px;
  padding: 0;
}

.about-project__description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: auto;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.about-project__description_mod_1 {
  width: 20%;
  min-height: 17px;
  color: rgba(160, 160, 160, 1);
}

.about-project__description_mod_2 {
  width: 80%;
  min-height: 17px;
  color: rgba(160, 160, 160, 1);
}

@media screen and (max-width: 768px) {
  .about-project {
    width: calc(100% - 100px);
  }
  .about-project__header {
    margin: 90px auto 70px;
  }
  .about-project__title {
    margin: auto 20px auto 0;
    padding: 0;
    white-space: normal;
  }
  .about-project__subtitle {
    margin: auto 0;
    padding-right: 20px;
  }
  .about-project__subtitles {
    width: 100%;
    margin: 22px auto 93px;
  }
}

@media screen and (max-width: 320px) {
  .promo {
    min-height: 784px;
  }
}