@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.body {
  background: white;
  /* height: 100vh; */
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
}